.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1051; /* Maior que o z-index padrão do modal do Bootstrap */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  z-index: 1040; /* z-index do backdrop do modal */
}

.modal {
  z-index: 1050; /* z-index do modal */
}

@media (max-width: 800px) {
  .imgLogo {
    display: none;
  }
}

#toastContainer {
  z-index: 1052;
}

#backToTopBtn {
  display: none; /* Esconda o botão por padrão */
  position: fixed; /* Fixa o botão na tela */
  bottom: 20px; /* Distância da parte inferior da tela */
  right: 30px; /* Distância do lado direito da tela */
  z-index: 1055; /* Certifique-se que o botão ficará na frente de outros elementos */
  font-size: 18px; /* Tamanho do texto */
  border: none; /* Sem borda */
  outline: none; /* Sem contorno */
  background-color: #555; /* Cor de fundo */
  color: white; /* Cor do texto */
  cursor: pointer; /* Aparecer como um botão clicável */
  padding: 15px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
}

#backToTopBtn:hover {
  background-color: #000; /* Cor de fundo ao passar o mouse */
}





/* Seletor descendente */
#menu .nav-link {
  color: #C5EFF7 ; /* Cor desejada */
}

#menu .nav-link:hover {
  color: #0056b3; /* Cor desejada ao passar o mouse */
}
